USE [master]
GO
/****** Object:  Database [esun]    Script Date: 2023/8/13 下午 08:30:49 ******/
CREATE DATABASE [esun]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'esun', FILENAME = N'D:\ms sql server2019\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\esun.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'esun_log', FILENAME = N'D:\ms sql server2019\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\esun_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [esun].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [esun]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2023/8/13 下午 08:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[book_ISBN] [varchar](255) NOT NULL,
	[book_Author] [varchar](255) NOT NULL,
	[book_Introduction] [varchar](255) NULL,
	[book_Name] [varchar](255) NOT NULL,
	[fk_bookStatusId] [int] NULL,
	[fk_bookInventoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookInventory]    Script Date: 2023/8/13 下午 08:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookInventory](
	[book_InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[book_PurchaseDate] [datetime] NULL,
	[fk_bookISBN] [varchar](255) NOT NULL,
	[fk_bookStatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookStatus]    Script Date: 2023/8/13 下午 08:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookStatus](
	[book_StatusId] [int] IDENTITY(1,1) NOT NULL,
	[book_StatusDesc] [nvarchar](200) NOT NULL,
	[book_StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[book_StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[member]    Script Date: 2023/8/13 下午 08:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[member_Id] [int] IDENTITY(1,1) NOT NULL,
	[member_LastLoginTime] [datetime] NULL,
	[member_Name] [nvarchar](30) NOT NULL,
	[member_Password] [nvarchar](20) NOT NULL,
	[member_PhoneNumber] [varchar](255) NOT NULL,
	[member_RegistrationTime] [datetime] NULL,
	[member_Token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[member_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_og6u767xu2s0nmu4ikof9njfi] UNIQUE NONCLUSTERED 
(
	[member_PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/8/13 下午 08:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_Id] [int] IDENTITY(1,1) NOT NULL,
	[user_LastLoginTime] [datetime] NULL,
	[user_Name] [nvarchar](30) NOT NULL,
	[user_Password] [nvarchar](20) NOT NULL,
	[user_PhoneNumber] [varchar](255) NOT NULL,
	[user_RegistrationTime] [datetime] NULL,
	[user_Token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_hj9gxmo7raegsg231rlu710ia] UNIQUE NONCLUSTERED 
(
	[user_PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKmm5oublakaawtyvo5d16c5bew] FOREIGN KEY([fk_bookStatusId])
REFERENCES [dbo].[bookStatus] ([book_StatusId])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKmm5oublakaawtyvo5d16c5bew]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FKtj11kon9rvrt0ts7jlha23cpl] FOREIGN KEY([fk_bookInventoryId])
REFERENCES [dbo].[bookInventory] ([book_InventoryId])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FKtj11kon9rvrt0ts7jlha23cpl]
GO
ALTER TABLE [dbo].[bookInventory]  WITH CHECK ADD  CONSTRAINT [FKgmml2m3jmfmrk2vb8bv0me00w] FOREIGN KEY([fk_bookStatusId])
REFERENCES [dbo].[bookStatus] ([book_StatusId])
GO
ALTER TABLE [dbo].[bookInventory] CHECK CONSTRAINT [FKgmml2m3jmfmrk2vb8bv0me00w]
GO
ALTER TABLE [dbo].[bookInventory]  WITH CHECK ADD  CONSTRAINT [FKo00pxd4m6kkouqkh5doaxfg6t] FOREIGN KEY([fk_bookISBN])
REFERENCES [dbo].[book] ([book_ISBN])
GO
ALTER TABLE [dbo].[bookInventory] CHECK CONSTRAINT [FKo00pxd4m6kkouqkh5doaxfg6t]
GO
USE [master]
GO
